<div class="hero-container">
  <div class="profile-image">
    <img src="./myprofile2.png" alt="Lakshan" class="profile-pic" />
  </div>
  <div class="hero-text">
    <h1 class="hero-heading">Hello, I'm Lakshan</h1>
    <p class="hero-description">
      I'm a <span class="typing-effect"></span>
    </p>
    <p class="hero-description2">
      I'm a passionate developer, Cybersecurity enthusiast currently a second-year undergraduate student
      at the <strong>University of Moratuwa</strong>, specializing in IT. 
    </p>
  </div>

  <div class="hireme">
    <button>Hire Me</button>
  </div>
</div>


<!-- <div class="hero-container">
    <div class="profile-image">
      <img src="./myprofile2.png" alt="Lakshan" class="profile-pic" />
    </div>
    <div class="hero-text">
      <h1 class="hero-heading">Hello, I'm Lakshan</h1>
      <div class="hero-text">
        <p class="hero-description">
          I'm a <span class="typing-effect"></span>
        </p>
      </div>
      <p class="hero-description">
        I'm a passionate developer, currently a second-year undergraduate student
        at the <strong>University of Moratuwa</strong>, specializing in IT. I enjoy
        building websites, exploring cybersecurity, and solving challenging problems.
      </p>
    </div>
  </div> -->
  