<div class="home">
  <div class="container">
      <div class="profile-photo">
          <img src="myprofile.jpg" alt="Profile Photo">
      </div>
      <div class="intro-text">
          <h1>Hello, I'm Lakshan</h1>
          <p>
              I'm a passionate developer, currently a second-year undergraduate student at the University of Moratuwa, 
              specializing in IT. I enjoy building websites, exploring cybersecurity, and solving challenging problems.
          </p>
      </div>
  </div>
</div>
