
  <div class="home" id="home">
    <div class="container">
        <div class="profile-photo">
            <img src="myprofile.jpg" alt="Profile Photo">
        </div>
        <div class="intro-text">
          <div class="typing-container">
            <span>I am a </span><span id="dynamic-text"></span>
          </div>
            <h1>Hello, I'm Lakshan</h1>
            <p>
                I'm a passionate developer, currently a second-year undergraduate student at the University of Moratuwa, 
                specializing in IT. I enjoy building websites, exploring cybersecurity, and solving challenging problems.
            </p>
        </div>
    </div>
  </div>





