<section class="home" id="home">
    <div class="container">
      <!-- Profile Photo -->
      <div class="profile-photo">
        <img src= "./my.jpg" alt="my" />
      </div>
  
      <!-- Introduction Text -->
      <div class="intro-text">
        <h1>Hello, I'm Lakshan</h1>
        <p class="intro2">
          I’m currently a second-year IT student at the University of Moratuwa, passionate about software development and cybersecurity. 
          Welcome to my portfolio!
        </p>
      </div>
    </div>
  </section>
  